<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>Tên Sản Phẩm</th>
      <th>Ảnh Sản Phẩm</th>
      <th>Giá Sản Phẩm</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= order_item.product.name %>
            x
            <%= order_item.quantity%></td>
      <td><%= image_tag order_item.product.display_image if order_item.product.image.attached? %></td>
      <td><%= number_to_currency(order_item.total_price) %></td>
    </tr>
  </tbody>
</table>
