<!--
<table class="table table-bordered table-striped" >
  <thead>
    <tr>
      <th>Tên khách hàng</th>
      <th>Nội dung Feedback</th>
      <th>Ảnh Feedback</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= feedback.id %></td>
      <td><%= feedback.content %></td>
      <td><%= image_tag feedbacks.product.display_image if feedbacks.product.image.attached? %></td>
    </tr>
  </tbody>
</table>
 -->
