<h1>Giỏ Hàng Của Bạn</h1>

  <%= render @cart.order_items %>
  <br>
  <br>
  <br>
  <br>

<div class="trade-button-mua">
<%= button_to 'Mua Sản Phẩm',
               update_status_order_path(id: @cart.id),
              :method => :put,
              data: {:confirm => 'Are you sure?' },
              style:"border-radius: 50px" %>
              <br>
</div>
<div class="trade-button-xoa">
<%= button_to 'Xóa Tất Cả',
               cart_path(@cart),
              :method => :delete,
               data: {:confirm => 'Are you sure?' },
               style:"border-radius: 50px" %>
</div>
