<div class="f-soft">
  "Sort by"
  <select class="form-control">
    ::before
    <option value="1">New Product</option>
    <option value="4">Product Name</option>
    <option value="2">Price from low to high</option>
    <option value="3">Price from high to low</option>
  </select>
</div>

<div class = "product-list">
  <ul class = "items">
    <li>
      <div class="content">
        <a href="/combo-ti-c-cu-i-nam-169-000d.html">
          <img loading= "lazy" alt src="https://dscnnwjxnwl3f.cloudfront.net/media/catalog/product/cache/584039753b87a8d227764e04fc461e3e/y/e/year-and-party-534x374px-02.jpg">
        </a>

        <div class="field-bottom">
          <span class="f-small"></span>
          <span class="f-big"></span>
        </div>
        <h3>
          <a href="/combo-ti-c-cu-i-nam-169-000d.html">Combo Tiệc Cuối năm  1 Tỷ</a>
        </h3>
        <div class="field-price">
          <span>1</span>
          <span>Tỷ</span>
        </div>
        <div class="field-btn">
          <button type="button" title="Add to cart">Add to cart</button>
        </div>
      </div>
    </li>
  </ul>
</div>
