@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
/* universal */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
    &:hover {
    color: white;
    text-decoration: none;
    }
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
      }
    }
small {
  float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
    float: left;
      margin-left: 15px;
      }
  }
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:
  border-box;
  -webkit-box-sizing: border-box;
  box-sizing:
  border-box;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
  padding: 10px 0;
  margin-top: 20px;
  &:first-child {
    border: 0;
    padding-top: 0;
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
}
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}
/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
}
}
.field_with_errors {
@extend .has-error;
.form-control {
color: $state-danger-text;
}
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
}
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}


body {
  background: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  position: relative;
}

.heading {
  font-size: 22px;
  font-weight: 500;
}

.subheading {
  font-size: 16px;
  padding-bottom: 60px;
}

p {
  color: #848484;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.4px;
  line-height: 28px;
}

hr {
    border-top: 2px solid #828282;
    width: 120px;
}

#menu, #gallery, #team {
    padding-top: 100px;
    padding-bottom: 100px;
}
#menu, #contact {
  background: #f0f0f0;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* preloader section */
.preloader  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #fff;
    }
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  background-color: #F6D76B;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


/* start navigation */
.navbar-default {
  background: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
  border: none;
  margin-bottom: 0;
}
.navbar-brand, .navbar-nav li a {
  line-height: 28px;
}
.navbar-default .navbar-brand  {
  color: #5C5C5C;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav li a {
  font-size: 12px;
  letter-spacing: 1px;
}

/* home section */
#home {
  background: url('home-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}
#home h1 {
  font-size: 20px;
  letter-spacing: 8px;
  font-style: normal;
  padding-top: 10px;
}
#home .btn {
  background: transparent;
  border-radius: 0;
  border: 3px solid #ffffff;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 42px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #ffffff;
  color: #202020;
}

/* team section */
#team {
  text-align: center;
}
#team h3 {
  font-size: 18px;
  line-height: 4px;
}
#team h4 {
  color: #5C5C5C;
  padding-top: 24px;
}
#team .col-md-4 {
 padding-top: 42px;
}

/* menu section */
#menu h4 {
    line-height: 1.5;
}
#menu .col-md-8 {
  padding-bottom: 42px;
}
#menu .col-md-6 {
  padding-bottom: 18px;
}
#menu span {
  color: #5C5C5C;
}

/* gallery section */
#gallery {
  padding-top: 80px;
  padding-bottom: 80px;
}
#gallery .col-md-4 {
  padding-top: 52px;
}
#gallery img {
  width: 100%;
  padding-bottom: 18px;
}
#gallery .col-md-4 div {
  position: relative;
  bottom: 18px;
  padding-bottom: 12px;
}
#gallery h3 {
  font-size: 18px;
  line-height: 8px;
}

/* contact section */
#contact {
  padding-top: 80px;
  padding-bottom: 100px;
}
#contact .col-md-8 {
  margin-bottom: 32px;
}
#contact .form-control {
  background: #ffffff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in-out;
}
#contact .form-control:focus {
  border-color: #f9f9f9;
}
#contact input {
  height: 48px;
}
#contact input[type="submit"] {
  background: transparent;
  border: 2px solid #999;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-top: 12px;
  height: 50px;
}
#contact input[type="submit"]:hover {
  background: #999;
  color: #ffffff;
}

/* footer section */
footer {
  background: url('footer-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
}
footer h2 {
  padding-bottom: 14px;
}
footer h3 {
  padding-top: 8px;
}
footer p {
  color: #ffffff;
}
footer span {
  font-weight: bold;
  padding-left: 24px;
}
footer .ph, footer .address {
  padding-top: 12px;
  padding-bottom: 12px;
}
footer .fa {
  font-size: 12px;
  padding-right: 10px;
}

/* social icon */
.social-icon {
  padding: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 0;
}
.social-icon li a {
  background: #f0f0f0;
  border-radius: 50%;
  color: #5C5C5C;
  font-size: 16px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-top: 12px;
  margin-right: 16px;
  top: 0;
  position: relative;
  padding: 0;
}
.social-icon li a:hover {
  background: #F6D76B;
  top: 5px;
}

/* copyright section */
#copyright {
  background: #343434;
  color: #ffffff;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
#copyright p {
  color: #ffffff;
}
#copyright a {
  color: #ffffff;
}
#copyright a:hover {
  color: #FF0;
}

/*
 * Nivo Lightbox v1.1
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivo-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99998;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nivo-lightbox-overlay.nivo-lightbox-open {
  visibility: visible;
  opacity: 1;
}
.nivo-lightbox-wrap  {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}
.nivo-lightbox-content {
  width: 100%;
  height: 100%;
}
.nivo-lightbox-title-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: center;
}
.nivo-lightbox-nav { display: none; }
.nivo-lightbox-prev {
  position: absolute;
  top: 50%;
  left: 0;
}
.nivo-lightbox-next {
  position: absolute;
  top: 50%;
  right: 0;
}
.nivo-lightbox-close {
  position: absolute;
  top: 2%;
  right: 2%;
}

.nivo-lightbox-image { text-align: center; }
.nivo-lightbox-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
}
.nivo-lightbox-content iframe {
  width: 100%;
  height: 100%;
}
.nivo-lightbox-inline,
.nivo-lightbox-ajax {
  max-height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}
.nivo-lightbox-error {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 0 1px 1px #000;
}
.nivo-lightbox-error p {
  display: table-cell;
  vertical-align: middle;
}

/* Effects
 **********************************************/
.nivo-lightbox-notouch .nivo-lightbox-effect-fade,
.nivo-lightbox-notouch .nivo-lightbox-effect-fadeScale,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideLeft,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideRight,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideUp,
.nivo-lightbox-notouch .nivo-lightbox-effect-slideDown,
.nivo-lightbox-notouch .nivo-lightbox-effect-fall {
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

/* fadeScale */
.nivo-lightbox-effect-fadeScale .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  -webkit-transform: scale(0.7);
     -moz-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
}
.nivo-lightbox-effect-fadeScale.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* slideLeft / slideRight / slideUp / slideDown */
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
     -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
       -o-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
          transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
  -webkit-transform: translateX(-10%);
     -moz-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
}
.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
  -webkit-transform: translateX(10%);
     -moz-transform: translateX(10%);
      -ms-transform: translateX(10%);
          transform: translateX(10%);
}
.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateX(0);
     -moz-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transform: translateY(-10%);
     -moz-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
}
.nivo-lightbox-effect-slideUp .nivo-lightbox-wrap {
  -webkit-transform: translateY(10%);
     -moz-transform: translateY(10%);
      -ms-transform: translateY(10%);
          transform: translateY(10%);
}
.nivo-lightbox-effect-slideUp.nivo-lightbox-open .nivo-lightbox-wrap,
.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

/* fall */
.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px;
}
.nivo-lightbox-effect-fall .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  -webkit-transform: translateZ(300px);
     -moz-transform: translateZ(300px);
      -ms-transform: translateZ(300px);
          transform: translateZ(300px);
}
.nivo-lightbox-effect-fall.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
          transform: translateZ(0);
}
body {
    background: #ffffff;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

body {
    background-color: #f9f9fa;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 10px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    text-align: center;
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}
.p-b-5 {
    padding-bottom: 5px !important
}
.m-b-10 {
    margin-bottom: 10px
}
.m-t-40 {
    margin-top: 20px
}
.user-card-full .social-link li {
    display: inline-block
}
.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}


.f-sort {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
select::before {
    background-color: red;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 1;
}
.f-sort select {
    margin-left: 15px;
    padding-right: 50px;
    width: auto;
}
.form-control {
    font-size: 15px;
    border-color: #c4c4c4;
    height: auto;
    padding: 7px 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.product-list {
    padding: 0 80px;
}
.product-list .items {
    margin-left: -8px;
    margin-right: -8px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
}

.product-list li {
    width: 33.3333333%;
    list-style: none;
    padding: 0 8px;
    margin-bottom: 25px;
    width: 25%;
    display: -webkit-flex;
    display: flex;
}
.product-list .content {
    background: #fff;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.product-list .content .field-img {
    margin-bottom: 10px;
    position: relative;
}
a {
    color: #2f80ed;
    text-decoration: none;
}
.product-list .content .field-img img {
    display: block;
    margin: 0 auto;
    max-height: 165px;
    width: auto;
}
.btn-save ~ .f-small, .btn-save ~ .f-big {
    background: url(../images/icon-save-active.svg) no-repeat 0 0;
    background-size: 10px auto;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -8px;
    margin-left: -5px;
    z-index: 1;
    pointer-events: none;
    display: none;
}
.btn-save ~ .f-big {
    background-size: 15px auto;
    width: 15px;
    height: 15px;
    margin-top: -8px;
    margin-left: -7px;
}
.product-list .content h3 {
    text-transform: none;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 7px;
    height: 37px;
    overflow: hidden;
}
.product-list .content h3 a {
    color: #0e0e0e;
}
.product-list .content .field-price {
    font-size: 24px;
    color: #d50000;
    margin-bottom: 15px;
    font-weight: 700;
}
.product-list .content .field-btn button {
    border: 0;
    font-weight: 700;
    padding: 9px 5px;
    background: #ffd800;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    width: 186px;
    margin: 0 auto;
}

.list-menu {
    background: linear-gradient(
49.07deg, #f9c167 -16.39%, #ff304c 90%);
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    list-style: none;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 3;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.list-menu li.active a {
    background-color: #f2f2f2;
    color: #d50000;
}
.list-menu a {
    display: block;
    color: #fff;
    padding: 7px 24px;
}

// html show prodcuts
.product-category-detail{
  width : 1110px;
  height : 550px;
  background : #ffffff;
  text-align : center;
  margin-top: 60px;
  display : block ;
  zoom : 1;
}
.field-back{
  margin-bottom: 30px;
  text-align : right;
  margin-right : 30px;
}
.button{
  color: #2f80ed;
  border-radius: 30px;
  display : block;
  background-color : #ffffff;
}
.field-img{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  float: left;
  margin-right: 70px;
  padding : 22px 0 0 57px;
  position : relative ;
  height : 200px;
  width: 450px ;
}
.item{
  height : 450px;
  width : 100%;
  display : flex;
}
*::after,::before{
  box-sizing: border-box;
}
.field-content{
  text-align : left;
  overflow : hidden;
}
.field-price{
  color: red;
  font-size : 24px;
  font-weight : 700;
  margin-bottom : 14px;
}
.field-note{
  border-top : 1px dashed #c4c4c4;
  margin-bottom : 18px;
  padding-top : 16px;
}
.field-text{
  color : #0e0e0e;
  font-size : 15px;
  line-height : 1.4;
}
.qty{
  margin-bottom:20px;
  width : 100%;
  display : block;
  zoom  : 1;
}
.lbl{
  float : left;
  margin-right : 10px;
  padding-top : 5px;
  float: left;
  margin-right : 10px;
  padding-top : 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.inner{
  width : 150px;
  float : left ;
  border-radius : 4px;
  position : relative ;
  padding : 3px 30px;
  height : 30px;
}
#btn-minute{
  border-radius: 5px;
  width: 30px;
  height: 29px;
  cursor: pointer;
  background: #e1e1e1;
  text-align: center;
  color: #0e0e0e;
  font-weight: 400;
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
}
#btn-plus{
  left : auto;
  right : 0;
  border-radius: 5px;
  width: 30px;
  height: 29px;
  cursor: pointer;
  background: #e1e1e1;
  text-align: center;
  color: #0e0e0e;
  font-weight: 400;
  position: absolute;
  top: 0;
  z-index: 1;
}
.number{
  width: 100%;
  text-align: center;
  padding: 3px 2px 2px;
  border: 0;
  background: 0;
  height: 28px;
}
.btn-card{
  padding-left: 35px;
  padding-right: 35px;
  font-weight: 700;
  background-color: #ffd800;
  border-color: #ffd800;
  color: #0e0e0e;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  display : inline-block;
  width : 250px;
}
.br{
  border: 1px solid #fff;
}
.button {
 padding:5px; cursor:pointer; background:grey; color:white; width:25px; height:15px; text-align:center; display:inline-block;
}
.button:hover {
background:black;
}
.image-rounded{
  width: 400px;
  height: 400px;
  object-fit: cover;
}

//comment
.wrapper {
    min-height: 473px;
}
.main .container {
  padding-top: 30px;
  min-height: 300px;
  padding-bottom: 30px;
}
.page-opinion-customer {
  padding-top: 30px;
  padding-bottom: 30px;
}
.page-opinion-customer .f-banner {
  margin-bottom: 30px;
}
.page-opinion-customer .f-banner img {
  display: block;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
.page-opinion-customer .register-shop {
    max-width: 768px;
    margin: 0 auto;
}
.register-shop {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    padding: 24px 24px 32px;
}
h4{
  line-height: 1.2;
  margin-top: 0;
}
form{
  display:block;
}
input{
  overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.register-shop .form-group {
    margin-bottom: 24px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.form-group {
    margin-bottom: 1rem;
}
.form-group label {
    font-weight: 700;
    display: block;
}
.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}
.col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.register-shop .form-group {
    margin-bottom: 24px;
}
.col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
textarea.form-control {
    height: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
textarea {
    overflow: auto;
    resize: vertical;
}
.fileUploader {
    width: 100%;
}
.page-opinion-customer .register-shop .note-fileUploader {
    margin-bottom: 0;
}
.page-opinion-customer .line-top {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}
.register-shop .form-group {
    margin-bottom: 24px;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
 .col-md-3, .col-md-4,.col-md-9,.col-sm-2, .col-sm-3, .col-sm-4,.col-sm-9, .col-sm-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.text-center {
    text-align: center !important;
}
.register-shop .btn {
    padding-left: 48px;
    padding-right: 48px;
}
[type='button']:not(:disabled), [type='reset']:not(:disabled), [type='submit']:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.btn-primary {
    background-color: #0e0e0e;
    border-color: #0e0e0e;
}
.btn {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
[type='button'], [type='reset'], [type='submit'], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.text-center {
    text-align: center !important;
}
p {
    margin-bottom: 15px;
}
.fileContainer .errorsContainer {
    max-width: 300px;
    font-size: 12px;
    color: red;
    text-align: left;
}
.page-opinion-customer .fileContainer .chooseFileButton {
    margin-top: 0;
    margin-bottom: 15px;
}
.fileContainer .chooseFileButton {
    padding: 6px 23px;
    background: #3f4257;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    margin: 10px 0;
    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: none;
    border: none;
}
.fileContainer input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.fileContainer .uploadPicturesWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.page-opinion-customer .fileContainer .uploadPicturesWrapper > div {
    justify-content: flex-start !important;
    margin: 0 -10px;
    width: auto !important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #3c3c3c;
    border-color: #3c3c3c;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.register-shop .btn {
    padding-left: 48px;
    padding-right: 48px;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #3c3c3c;
    border-color: #3c3c3c;
}
.btn:hover, .btn:focus, .btn.focus {
    box-shadow: none !important;
    text-decoration: none;
}
